
<!-- Javascript placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!--script src="http://software-carpentry.org/v5/js/jquery-1.9.1.min.js"></script-->
<script src="css/bootstrap/bootstrap-js/bootstrap.js"></script>

<!-- JS Parsons -->
<!--link href="js-parsons/parsons.css" rel="stylesheet" />
<link href="js-parsons/lib/prettify.css" rel="stylesheet" />
<script src="js-parsons/lib/prettify.js"></script-->
<!--script src="js-parsons/lib/jquery.min.js"></script>
<script src="js-parsons/lib/jquery-ui.min.js"></script>   already in -->
<script src="js-parsons/lib/jquery.ui.touch-punch.min.js"></script>
<script src="js-parsons/lib/underscore-min.js"></script>
<script src="js-parsons/lib/lis.js"></script>
<script src="js-parsons/parsons.js"></script>
<script src="js-parsons/lib/skulpt.js"></script>
<script src="js-parsons/lib/skulpt-stdlib.js"></script>

<link href="js-parsons/swc-parsonify.css" rel="stylesheet" />
<script src="js-parsons/swc-parsonify.js"></script>
